body, html {
    margin: 0;
    height: 100%;
    width: 100%;    
    background-color:#FFFFFF;
}

#page{
    background-color:#FFFFFF;
}

#header {
    background: none repeat scroll 0% 0% rgb(153, 153, 153);
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0px 50px;
}

#header a {
    background: url("images/index.png") no-repeat scroll center center transparent;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}
